/*div{
    border: 1px solid red;
}
*/
body{
    text-align: center;
    background: rgba(203, 203, 203, 0.83);
    font-family: 'Acme', sans-serif;
}


.CrystalsCollector{
    background: rebeccapurple;
    color: white;    
    font-size: 24px;
    font-family: fantasy;
    padding: 5px;
    margin: 5px 0px 5px 0px;
}

.gameInfo{
    padding: 20px;
    height: 50%;
    font-size: 16px;
}
#message{
    border-bottom: 2px solid white ;
    padding: 5px;
}

.btn{
    margin-right: 10px;
}
#userWins{
    border-bottom: 2px solid white ;
    padding: 5px;
}

#userLosses{
    padding: 5px;
}

#randomNumber{
    font-family: 'Alfa Slab One', cursive;
    padding: 20px;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.44);
    color: white;
}

#winlose{
    background: #45caca;
    padding: 12px;
    font-family: 'Alfa Slab One', cursive;

}

#crystals{
    padding: 10px;
    margin-bottom: 5px;

}

.yourScore{
    font-family: 'Alfa Slab One', cursive;
    padding: 5px;
    background: rgba(0, 0, 0, 0.44);
    font-size: 16px;
    color: white;
}

#userScore{
    padding: 10px;
    background: #45caca;
    font-size: 16px;
}