body{
	background-image: url(../images/image1.jpg);
}
.container{
	width: 100%;
	left: 10px;
	height: 100%;
	padding: 10px;
}


.CrystalsCollector{
    background-color: rgba(243, 152, 40, 0.61);
    font-size: 24px;
    width: 25%;
    padding: 20px;
    font-family: fantasy;
   }

.gameInfo{
	background: whitesmoke;
	width: 25%;
    padding: 20px;
}

#row{
	width: 100%;
}
#randomNumber{
	width: 13.5%;
	float: left;
    padding: 20px;
    background: #81e481;
}

#winlose{
	width: 9%;
    float: left;
    background: #45caca;
    padding: 12px;
    margin-left: 10px;

}

#crystals{
	padding-top:50px;
}

.yourScore{
    background: steelblue;
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 7px;;
}

#userScore{
	padding: 20px;
    background: steelblue;
    width: 25%;
}